@model IEnumerable<Vidhalla.ViewModels.Videos.IndexViewModel>

@{
    ViewBag.Title = "Home";
}

@section jumbotron
{
    <header class="jumbotron">
        <p>
            <button class="btn btn-primary btn-lg ghostBtn">Start watching </button>
        </p>
    </header>
}

<br>

<aside style="margin-top: 2.5em;">
    <label>Sort by</label>
 
    <select id="sortOrderSelect" class="form-control" title="Sort by">
        <option value="views-asc">Views, ASC</option>
        <option value="views-desc">Views, DESC</option>
        <option value="title-asc">Title, ASC</option>
        <option value="title-desc">Title, DESC</option>
        <option value="uploader-asc">Uploader, ASC</option>
        <option value="uploader-desc">Uploader, DESC</option>
        <option value="dateUploaded-asc">Date uploaded, ASC</option>
        <option value="dateUploaded-desc">Date uploaded, DESC</option>
    </select>
</aside>


<!-- Sekcija glavnog sadrzaja u kojoj ce biti combo box za sortiranje, side search bar, lista videa i paginacija -->
<main id="main" class="container">

<h1>Most popular</h1>

<section id="top5VideosSection">
    <div class="row">
            
        @foreach (var video in Model)
        {
            <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item" src=@video.Url></iframe>
                </div>
                <h4>
                    @Html.ActionLink(video.Title, "Details", "Videos", new {id = video.Id}, null)
                </h4>
                <span>
                    <img alt="" src=@Url.Action("LoadProfilePicture", "Accounts", new {profilePicture = video.UploaderProfilePicture}) class="smallThumbnail">
                    @Html.ActionLink(video.UploaderUsername, "Details", "Accounts", new {username = video.UploaderUsername}, null)
                </span>
                <br>
                <span>@video.ViewsCount views</span>
                <span> &nbsp; @video.DateUploaded</span>
            </div>
        }

    </div>
</section>

<!-- Linija koja razdvaja most popular videos od ostalih -->
<hr>

<h1>Videos</h1>

<section id="videosSection">
    <div class="row">
            

        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1 }, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123" }, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class="ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>

        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1 }, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123" }, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class="ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>

        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            
        <div class="videoDiv col-xs-12 col-sm-4 col-md-15 col-lg-15">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
            </div>
            <h4>
                @Html.ActionLink("NASLOV", "Details", "Videos", new { id = 1}, null);
            </h4>
            <span>
                <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail">
                @Html.ActionLink("UPLOADER", "Details", "Accounts", new { username = "mitar123"}, null);
            </span>
            <br>
            <span>100 PREGLEDA</span>
            <span>  "&nbsp;"  01/01/2019 </span>
            <div class = "ratingDiv">50 LAJKOVA  1 DISLAJKOVA</div>
        </div>
            

    </div>
</section>

</main>
    
@section scripts
{
<script type="text/javascript" src=@Url.Content("~/Scripts/videos-index.js")></script>
}