@model Vidhalla.Core.Domain.Account

@{
    ViewBag.Title = "Details";
}

<div class="modal fade" id="signUpDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Sign Up</h4>
            </div>
            <div class="modal-body">
                <form id="signUpForm" action="./SignupServlet" method="POST" enctype="multipart/form-data" role="form">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group">
                        <input name="repeatedPassword" type="password" class="form-control" placeholder="Repeat Password" required>
                    </div>
                    <div class="form-group">
                        <input name="email" type="email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="form-group">
                        Upload Thumbnail :
                        <input type="file" multiple accept="image/*" name="thumbnail" class="form-control">
                    </div>
                    <label class="errorMsgLabel"></label>
                    <button id="signUpBtn" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-user"></span> Sign Up
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteVideoAlert" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Failed</h4>
            </div>
            <div class="modal-body">
                <p>Please delete all comments that reference this video.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Login</h4>
            </div>
            <div class="modal-body">
                <form id="#loginForm" role="form">
                    <div class="form-group">
                        <input name="username" type="text" class="form-control" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <input name="password" type="password" class="form-control" placeholder="Enter Password" required>
                    </div>
                    <label class='errorMsgLabel'></label>
                    <button id="loginBtn" class="btn btn-success btn-block">
                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserAlert" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Failed</h4>
            </div>
            <div class="modal-body">
                <p>Please delete all videos that reference this user.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="uploadVideoDialog" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload</h4>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <input name="name" type="text" class="form-control" placeholder="Video Name" required>
                    </div>
                    <div class="form-group">
                        <input name="url" type="url" class="form-control" placeholder="Url" required>
                    </div>
                    <div class="form-group">
                        <input name="description" type="text" class="form-control" placeholder="Description">
                    </div>
                    <div class="form-group">
                        <select id="visibilitySelect">
                            <option value="PUBLIC"> Public</option>
                            <option value="UNLISTED"> Unlisted</option>
                            <option value="PRIVATE"> Private</option>
                        </select>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="commentsAllowed" type="checkbox" value="">Allow Comments
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input name="ratingVisible" type="checkbox" value="">Rating Visible
                        </label>
                    </div>
                    <label class="errorMsgLabel"></label>
                    <button id="uploadVideoBtn" class="btn btn-primary btn-block">
                        <span class="glyphicon glyphicon-upload"></span> Upload
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 7em;" class="container">

    <main>
        <img alt="Profile picture" src=@Url.Content("~/Content/Images/default.png") class="bigThumbnail">
        <h1 id="username"> USERNAME </h1>

        <form id="uploadImageForm" action="UploadImageServlet" method="POST" enctype="multipart/form-data" role="form">
            <input type="hidden" name="username"> Upload Thumbnail :
            <input type="file" multiple accept="image/*" name="thumbnail">
            <div class="form-group">
                <button id="uploadImageBtn" type="button" class="btn btn-default"> Upload</button>
            </div>
            <label class="errorMsgLabel"></label>
        </form>

        <span style="display:block;content:'';clear:both">
            <span id="subscribersSpan" style='float: left'>BROJ SUBSCRIBERA</span>
            <button style="float: right" id="subscribeBtn" type="button" class="btn btn-primary btn-lg"></button>
        </span>
        <p id="channelInfo">
            Ovdje stoji opis kanala i tako dalje i tako dalje i tako dalje i tako blize i tako blize i tako blize
        </p>

        @Html.ActionLink("Edit", "Edit", "Accounts", new { id = Model.Id }, new { @class = "btn btn-info", role = "button" })
        @using (Html.BeginForm("Edit", "Accounts"))
        {
            @Html.HiddenFor(a => a.Id)
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-danger">
                <span class="glyphicon glyphicon-trash"></span> Delete
            </button>
        }

    </main>

    <hr>

</div>

<div class="container" style="display:block;content:'';clear:both">
    <section style="width : 40%;float: left">
        <button id="showUploadVideoBtn" type="button" class="btn btn-success btn-md">
            <span class="glyphicon glyphicon-upload"></span> Upload
        </button>

        <br>
        <h3>Uploaded Videos</h3>
        <select style="width: 10em" id="sortUploadedSelect" class="form-control">
            <option value="dtUploadedDesc"> Newest First</option>
            <option value="dtUploadedAsc"> Oldest First</option>
            <option value="viewsAsc"> Views, Asc</option>
            <option value="viewsDesc"> Views, Desc</option>
        </select>
        <br>
        <ul id="uploadedVideosList">
            <!--Ovdje kacim dinamicki kreirane <li> videa koje je korisnik cija se stranica posmatra, uploadovao  -->

            <li>
                <div>
                    <iframe src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
                    <button type="button" class="btn btn-danger deleteVideoBtn" data-id="ID UPLOADOVANGO VIDEA">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                    <h4> @Html.ActionLink("Naziv videa", "Details", "Videos", new { id = 1 }, null); </h4>
                    <span> PREGLEDA </span>
                    <span style="display:block"> 01/01/2019 </span>
                </div>
            </li>

            <li>
                <div>
                    <iframe src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
                    <button type="button" class="btn btn-danger deleteVideoBtn" data-id="ID UPLOADOVANGO VIDEA">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                    <h4> @Html.ActionLink("Naziv videa", "Details", "Videos", new { id = 1 }, null); </h4>
                    <span> PREGLEDA </span>
                    <span style="display:block"> 01/01/2019 </span>
                </div>
            </li>

            <li>
                <div>
                    <iframe src="https://www.youtube.com/embed/qEja72NSg5Q?rel=0&amp;showinfo=0"></iframe>
                    <button type="button" class="btn btn-danger deleteVideoBtn" data-id="ID UPLOADOVANGO VIDEA">
                        <span class="glyphicon glyphicon-trash"></span> Delete
                    </button>
                    <h4> @Html.ActionLink("Naziv videa", "Details", "Videos", new { id = 1 }, null); </h4>
                    <span> PREGLEDA </span>
                    <span style="display:block"> 01/01/2019 </span>
                </div>

            </li>

        </ul>
    </section>
    <aside style="margin-top: 2.4em;width : 20%;float: right">
        <h3>Following</h3>
        <br>
        <ul id="subscribedsList">

            <!-- Ovdje kacim dinamicki kreirane <li> korisnika koje korisnik cija se stranica posmatra, prati -->

            <li>
                <a href=@Url.Action("Details", "Accounts", new {username = "mitar123"})> <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail"> USERNAME</a>
            </li>

            <hr>

            <li>
                <a href=@Url.Action("Details", "Accounts", new {username = "mitar123"})> <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail"> USERNAME</a>
            </li>

            <hr>

            <li>
                <a href=@Url.Action("Details", "Accounts", new {username = "mitar123"})> <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail"> USERNAME</a>
            </li>

            <hr>

            <li>
                <a href=@Url.Action("Details", "Accounts", new {username = "mitar123"})> <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail"> USERNAME</a>
            </li>

            <hr>

            <li>
                <a href=@Url.Action("Details", "Accounts", new {username = "mitar123"})> <img src=@Url.Content("~/Content/Images/default.png") class="smallThumbnail"> USERNAME</a>
            </li>

            <hr>

        </ul>
    </aside>
</div>

@section scripts
{
<script type="text/javascript" src=@Url.Content("~/Scripts/accounts-details.js")></script>
}
